body{
    font-family: 'Open Sans', serif;
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
    text-align: center;
}


/* Top page */
header{
    background-color: black;
    text-align: center;
    padding: 1em;
}

header img{
    width: 40%;
}


/* first div */
#intro{
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 15%;
}

#intro h2{
    font-family: 'Monserrat';
    color: #25a2c3;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;

}

#intro button{
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 5px;
    font-size: 16px; 
    padding: 15px 40px;
    border: none;
}

#intro button:hover{   /* when the cursor go on the button it will be darker */
    background-color: #e44329;
}

/* ------------------------------------------------------------------ */

.smallTitle{   /* class for all the titles */
    font-family: 'Monserrat';
    color: #25a2c3 ;
    line-height: 1.5;
    font-weight: bold;

}

/* ------------------------------------------------------------------- */

/* second div */
#openLaptopDiv .paragraph{
    padding-bottom: 1em;
}


#openLaptopDiv img{
    width: 10em;
    border-radius: 20em;
}

/* ------------------------------------------------------------------- */

/* third div */
#mario{
    background-color: #e44329;
    color: white;
    padding: 10%;
}

#mario h3{
    font-family: 'Monserrat';
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.6em;
}

#mario .italic{
    padding-bottom: 1em;
    font-style: italic;
}

/* ------------------------------------------------------------------- */

/* fourth div */
#laptop{
    margin-top: 2em;
    margin-bottom: 2em;
    border: 2px solid #dee1e3;
}

#laptop img{
    width: 26em;
}

/* ------------------------------------------------------------------- */

/* fifth div */
#closeLaptop {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 2px solid #dee1e3;
}

#closeLaptop img{
    width: 26em;
}

/* ------------------------------------------------------------------- */

/* sixth div */
#office{
    margin-top: 2em;
    margin-bottom: 2em;
    border: 2px solid #dee1e3;
}

#office img {
    width: 26em;
}


/* ------------------------------------------------------------------- */
footer{
    color: #c8e7f0;
    background-color: #25a2c3;
    font-size: smaller;
}

footer h2 {
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    padding: 0.5em;
}

footer a{
    color: #c8e7f0;
}

#info{
    margin-top: 1em;
    margin-bottom: 2.2em;
}

footer p{
    font-size: smaller;
}
